.container {
    display: flex;
    justify-content: space-evenly;
}
.box {
    width: 100px;
    height: 100px;
    background-color: tomato;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* text-align: center; */
    border: rgb(160, 59, 165) 2px solid;
    margin: 15px;
    padding: 30px;
    /* display: inline;
    float: left; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#box4 {
    float: right;
}
#box3 {
    float: right;
}
.outer-container{
    width: 800px;
    height: 800px;
    background-color: thistle;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: darkviolet;
    color: white;
    border: 3px solid red;


}
