* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Heebo", sans-serif;
    color: #21243D;
}
nav {
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin-right: 40px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
.blog {
    color: tomato;
}
.middle-thing {
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.content {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 750px;
    justify-content: space-between;
}
.gray {
    color: rgb(179, 179, 195);
}
.content-1, .content-2, .content-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid rgb(191, 188, 188);
    padding-bottom: 20px;
    margin-top: 20px;
    height: 157px;
}
.content h3 {
    font-weight: 500;
    font-size: 30px;
}
.content p {
    font-weight: 400;
    font-size: 16px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.icons img{
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.footer p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
}
@media screen and (max-width: 750px) {
    .content {
        margin: 40px;
        width: 80%;
    }
    nav {
        justify-content: flex-start;
    }
    nav ul {
        margin-left: 20px;
        width: 100%;
        justify-content: space-around;
    }
    .content {
        margin: 100px 40px;
    }
    img {
        width: 50%;
        height: 50%;
    }
    .desc {
        margin-top: 20px;
        width: 50%;
    }
    h1, h2, h3 {
        width: 65%;
    }
}