* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Heebo", sans-serif;
    color: #21243D;
}
nav {
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin-right: 40px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
.works {
    color: tomato;
}
img {
    width: 681px;
    height: 460px;
}
h1 {
    font-weight: 700;
    font-size: 34px;
}
h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 60px;
}
h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 60px;
}
p {
    font-weight: 400;
    font-size: 16px;
    color: black;
}
.img1 {
    margin: 50px 0;
}
.img2 {margin: 20px 0;}
.year {
    background-color: rgb(254, 113, 109);
    padding: 3px 8px;
    border-radius: 16px;
    color: white;
}
.middle-thing {
    display: flex;
    justify-content: space-between;
    width: 320px;
}
.content {
    margin: 100px auto;
    width: 681px;

}
.first-content {
    height: 200px;
    width: 595px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.icons img{
    height: 30px;
    width: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.footer p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
}
@media screen and (max-width: 735px) {
    nav {
        justify-content: flex-start;
    }
    nav ul {
        margin-left: 20px;
        width: 100%;
        justify-content: space-around;
    }
    .content {
        margin: 100px 40px;
    }
    img {
        width: 50%;
        height: 50%;
    }
    .desc {
        margin-top: 20px;
        width: 50%;
    }
    h1, h2, h3 {
        width: 65%;
    }
}