.one {
    float: left;
}
.two {
    float: right;
}
.three {
    clear: both;
}
.third img {
    position: absolute;
    z-index: -1;
}
.third p {
    position: absolute;
    top: 85px;
    left: 35px;
    color: white;
    opacity: 0.;
}
.first, .second {
    width: 500px;
    height: 100px;
}
.first {
    background-color: yellow;
    z-index: 0;
    position: absolute;
}
.second {
    background-color: red;
    z-index: 1;
}
