.container {
   display: flex;
   flex-wrap: wrap;
   border: black 2px solid;
   width: 410px;
   height: 255px;
   padding-bottom: 5px;
}
.cyan{
    background-color: rgb(156, 240, 205);
    width: 120px;
    height: 45px;
}
.blue {
    background-color: rgb(163, 217, 247);
    width: 250px;
    height: 45px;
}
.purple {
    background-color: rgb(189, 158, 237);
    width: 385px;
    height: 45px;
}
div{
    margin: 10px 0 0 10px;
}
.cyan, .blue, .purple{
    border: 2px black solid;
}