* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins"
}
body {
    max-width: 1440px;
    margin: 0 auto;
}
.nav {
    max-height: 100px;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.nav_contents {
    width: 1286px;
    height: 41px;
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    width: 185px;
    height: 41px;
}
.logo a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0;
    font-family: "Montserrat";
}
.logo img {
    width: 50px;
    height: 32px;
}
.menus {
    display: flex;
    align-items: center;
}
.menus ul{
    display: flex;
    width: 430px;
    height: 24px;
    list-style: none;
    justify-content: space-between;
}
.menus ul li {
    font-weight: 500;
    font-size: 16px;
}
.icons {
    display: flex;
    align-items: center;
    width: 300px;
}
.icons ul{
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.icons ul li{
    width: 28px;
    height: 28px;
}
.nav-icon-1 {
    width: 23.33px;
    height: 18.67px;
}
.nav-icon-2 {
    width: 22.17px;
    height: 22.17px;
}
.nav-icon-3 {
    width: 23.33px;
    height: 20.81px;
}
.nav-icon-4 {
    width: 24.54px;
    height: 22.06px;
}