* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
}

/* HEADER */
.nav {
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items {
  width: 1286px;
  height: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-1 {
  width: 180px;
  height: 41px;
}

.group-1 .logo {
  display: flex;
}

.group-1 .logo a {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0;
  color: #000000;
}

.group-2 {
  max-width: 430px;
  width: 100%;
  height: 24px;
}

.group-2 ul {
  display: flex;
  justify-content: space-between;
}

.group-2 ul li a {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.group-3 {
  width: 210px;
  height: 41px;
}

.group-3 ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 41px;
}

/* FOOTER */
.footer {
  max-width: 1440px;
  height: 505px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #d9d9d9;
}

.footer-content {
  width: 1240px;
  height: 419px;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
  width: 1133px;
  height: 312px;
}

.hq-location,
.links ul,
.help ul,
.news-letter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hq-location {
  width: 285px;
  height: 150px;
  font-weight: 400;
  font-size: 16px;
  color: #9f9f9f;
}
.links ul {
  height: 100%;
}
.help ul {
  height: 76%;
}
.news-letter {
  height: 28%;
}
.footer h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
}
.news-letter p,
.help p,
.links p {
  color: #9f9f9f;
  font-weight: 500;
  font-size: 16px;
}
.help li a,
.links li a {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}
.email-subscribe form {
  display: flex;
  width: 256px;
  justify-content: space-between;
  align-items: center;
}
.news-letter .email-subscribe input,
.news-letter .email-subscribe button {
  height: 21px;
  font-size: 14px;
  border-bottom: 1px #000000 solid;
  background-color: transparent;
}
.news-letter .email-subscribe input {
  color: #9f9f9f;
  width: 173px;
  font-weight: 400;
}
.news-letter .email-subscribe button {
  color: #000000;
  font-weight: 500;
  width: 75px;
}
.footer-copyright {
  display: flex;
  height: 59px;
  align-items: flex-end;
  margin-top: 70px;
  border-top: solid 1px #d9d9d9;
}
