* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
}
#root {
  max-width: 1440px;
  margin: 0 auto;
}

/* HEADER */
.nav {
  top: 0;
  position: sticky;
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: #ffffff;
}

.nav-items {
  width: 1286px;
  height: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-1 {
  width: 180px;
  height: 41px;
}

.group-1 .logo {
  display: flex;
}

.group-1 .logo a {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0;
  color: #000000;
}

.group-2 {
  max-width: 430px;
  width: 100%;
  height: 24px;
}

.group-2 ul {
  display: flex;
  justify-content: space-between;
}

.group-2 ul li a {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

.group-3 {
  width: 210px;
  height: 41px;
}

.group-3 ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 41px;
}

/* FOOTER */
.footer {
  max-width: 1440px;
  height: 505px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #d9d9d9;
}

.footer-content {
  width: 1240px;
  height: 419px;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
  width: 1133px;
  height: 312px;
}

.hq-location,
.links ul,
.help ul,
.news-letter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hq-location {
  width: 285px;
  height: 150px;
  font-weight: 400;
  font-size: 16px;
  color: #9f9f9f;
}
.links ul {
  height: 100%;
}
.help ul {
  height: 76%;
}
.news-letter {
  height: 28%;
}
.footer h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
}
.news-letter p,
.help p,
.links p {
  color: #9f9f9f;
  font-weight: 500;
  font-size: 16px;
}
.help li a,
.links li a {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
}
.email-subscribe form {
  display: flex;
  width: 256px;
  justify-content: space-between;
  align-items: center;
}
.news-letter .email-subscribe input,
.news-letter .email-subscribe button {
  height: 21px;
  font-size: 14px;
  border-bottom: 1px #000000 solid;
  background-color: transparent;
}
.news-letter .email-subscribe input {
  color: #9f9f9f;
  width: 173px;
  font-weight: 400;
}
.news-letter .email-subscribe button {
  color: #000000;
  font-weight: 500;
  width: 75px;
}
.footer-copyright {
  display: flex;
  height: 59px;
  align-items: flex-end;
  margin-top: 70px;
  border-top: solid 1px #d9d9d9;
}

/* Banner */
.banner {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.banner-ad {
  width: 643px;
  height: 443px;
  background-color: #fff3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 153px;
  left: 739px;
  border-radius: 10px;
}
.banner-ad-content {
  width: 561px;
  height: 344px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-ad-content p {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 100%;
}
.banner-ad-content h3 {
  color: #b88e2f; 
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  letter-spacing: 0px;
}
.banner-ad-content .lorem {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
}
.banner-ad-content button {
  background-color: #b88e2f;
  width: 222px;
  height: 74px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  margin-top: 30px;
}
/* Page */
.page {
  height: 316px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.page-background {
  opacity: 50%;
  filter: blur(4px);
}
.home-page {
  position: absolute;
  width: 145px;
  height: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}
.home-page h3 {
  font-weight: 500;
  font-size: 48px;
}
.home-page a {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.home-page p {
  font-weight: 300;
  font-size: 16px;
}
.arrowPic {
  padding-top: 5px;
}


/* Browse The Range */
.browse {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.browse-content {
  width: 1183px;
  height: 685px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
}
.browse-parts {
  display: flex;
  justify-content: space-between;
  height: 550px;
}
.dining-part, .living-part, .bedroom-part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.browse img {
  width: 381px;
  height: 480px;
  object-fit: cover;
  object-position: left;
  border-radius: 10px;
}
.browse h1, .browse h3 {
  color: #333333;
}
.browse p {
  color: #666666;
  font-weight: 400;
  font-size: 20px;
}
.browse-title {
  text-align: center;
}

/* FEATURES */
.high-quality, .warranty-protection, .free-shipping, .support-247{
  display: flex;
  align-items: center;
}
.text-part {
  margin-left: 10px;
}
.text-part h4 {
  font-weight: 600;
  font-size: 25px;
  line-height: 150%;
  color: #242424;
}
.text-part p {
  color: #898989;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}