* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
}

main {
    max-width: 1440px;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    background-color: #FFFFFF;
    box-shadow: 0 59px 16px 0 rgba(8, 128, 0, 0.00), 0 38px 15px 0 rgba(8, 128, 0, 0.01), 0 21px 13px 0 rgba(8, 128, 0, 0.02), 0 9px 9px 0 rgba(8, 128, 0, 0.04), 0 2px 5px 0 rgba(8, 128, 0, 0.04);
    
}
.navbar-left-side {
    max-width: 217px;
    max-height: 29px;
    margin-left: 127px;
}

.navbar-right-side{
    margin-right: 127px;
}

.navbar-left-side #name {
    color: #75c310;
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navbar-left-side #portfolio {
    color: #000;
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navbar-right-side ul {
    display: flex;
    max-width: 675px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    gap: 54.75px;
}

ul li {
    list-style: none;
    color: #75c310;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
ul li a{
    text-decoration: none;
}